.appBar {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-decoration: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
  color: black;
}
