@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html { */
/* font-size: 10px; */

/* 10px / 16px = 0.625 = 62.5% */
/* Percentage of user's browser font-size setting */
/* font-size: 62.5%; */
/* overflow-x: hidden; */

/* Does NOT work on Safari */
/* scroll-behavior: smooth; */
/* } */

body {
  font-family: "Open Sans", "Lato", sans-serif;
  min-height: 100vh;
  border-bottom: 1rem solid #90caf9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.center {
  text-align: center;
  margin: 0 auto;
}
